*{
  margin: 0;
  padding: 0;
}


.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: links; }
.item5 { grid-area: left; }
.item6 {grid-area: right;}
.item7 {grid-area: footer;}

.grid-container {
  display: grid;
  grid-template-areas: 
    "menu header header"
    "left main links"
    "left main right"
    "footer footer footer";
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto 1fr auto;
  width: 100vw;
  height: 100vh;
  gap: 10px;
  background-image: url("59002467-cute-dog-wallpaper-4k-cute-cat-cute.jpg");
  opacity: 0.8;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.grid-container > div {
justify-items: center;
align-items: center;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
}

.grid-container > .item2 ul {
  
  list-style: none;
 
}

.grid-container > .item3 {
  displpay: flex;
  flex-direction: column;
  text-align: center;
    justify-content: center;
    align-items: center;
}
#open-sidebar-button {
  display: none;
  background: none;
  border: none;
  padding: 1em;
  margin-right: auto;
  cursor: pointer;
}

#close-sidebar-button {
  display: none;
  background: none;
  border: none;
  padding: 1em;
  cursor: pointer;
}

.aboutme{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 99vw;
  height: 99vh;
  background-image: url("59002467-cute-dog-wallpaper-4k-cute-cat-cute.jpg");
  opacity: 0.8;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-items: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
}

.aboutme > #box {
    padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  text-align: center;
}


.project{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 99vw;
  height: 99vh;
  background-image: url("59002467-cute-dog-wallpaper-4k-cute-cat-cute.jpg");
  opacity: 0.8;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-items: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
}

.project > #projectbox {
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  text-align: center;
}



@media (max-width: 487px) {
   

.grid-container{
display: grid;
  grid-template-areas: 
    "menu header"
    "main main"
    "left left"
    "links links"
    "right right"
    "footer footer";
  grid-template-columns: auto;
  grid-template-rows: auto;
  width:100vw;
  height: 100vh;
  gap: 10px;
 
  background-repeat: repeat-y;
     background-size: autofill;
    overflow-y: auto;}

.grid-container > .item1 {
  displpay: flex;
  font-size: 0.6em;
  background-color: aliceblue;
  flex-direction: column;
  text-align: center;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
}

#aboutme{
align-self: center;
align-items: stretch;
  display: flex;
  gap: 10px;
  padding: 2%;
}

.grid-container > .project{
  display: flex;
align-self: center;
align-items: auto;
  gap: 10px;
  padding: 2%;
}


.grid-container > .item2 {
  displpay: flex;
  background-color: aliceblue;
  flex-direction: column;
  text-align: center;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
}


#mainNav{
    position: fixed;
    top: 0;
    left: -15em;
    width: min(15 em, 100%);
    z-index: 0;
    border-rigth:1px solid var(--hover-colour);
    background-color: aliceblue;
    transition: left 0.3s ease-in-out;
    padding: 1em;

}


#mainNav.show{
    left: 0;
}


#open-sidebar-button, #close-sidebar-button {
        display: block;
 }

}

